spring:

  config:
    import: optional:file:.env[.properties]
  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.yml

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none

jwt:
  secret: ${JWT_SECRET}
  access-expiration: ${JWT_ACCESS_EXPIRATION}
  refresh-expiration: ${JWT_REFRESH_EXPIRATION}

card:
  encryption-key: ${CARD_ENCRYPTION_KEY}